<div class="hint">
  <p>
    <span class="draghere">Drag file here or tap anywhere</span>
    <span class="taptoupload">Tap anywhere and select a file</span>
  </p>
</div>
<label class="file-picker">
  {{file-input readInputFile="readInputFile"}}
</label>
