$iconSize: 16px;

button {

  &.icon {
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color, 0.1s;
    line-height: $iconSize;
    font-size: $iconSize;
    &:hover {
      background-color: #eee;
      transition: background-color, 0.1s;
    }
    img {
      width: $iconSize;
      height: $iconSize;
    }
    span.text-icon {
      display: inline-block;
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize;
      text-align: center;
    }
  }

  &.copy-url {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

}
