$navbarSize: 60px;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

html, body {
  height: 100%;
}

nav {
  position: fixed;
  height: auto;
  width: $navbarSize;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 23;

  ul {
    width: 100%;

    li {
      a {
        display: block;
        text-align: center;
        line-height: $navbarSize;
      }
    }
  }
}

main {
  width: 100%;
  padding-left: $navbarSize;
  text-align: center;

  section {
    &.content {
      padding: $navbarSize 0 0 0;
      margin: 0 auto;
    }
    &.welcome {
      text-align: left;
      width: 90%;
      max-width: 50rem;
      padding-bottom: 2rem;
    }
    &.history {
      width: 90%;
      padding: 2rem 0 $navbarSize 0;
    }
  }
}

@media screen and (max-width : 640px) {
  nav {
    position: fixed;
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    text-align: center;

    ul {
      width: 100%;
      @include clearfix();

      li {
        display: inline;
        float: left;
        a {
          display: block;
          text-align: center;
          width: $navbarSize;
          line-height: $navbarSize;
        }
      }
    }
  }

  main {
    width: 100%;
    padding-left: 0;
    margin-bottom: $navbarSize;

    section {
      &.content {
        padding: $navbarSize 0 0 0;

        &.welcome {
          padding: $navbarSize 0 0 0;
          width: 90%;
          max-width: 90%;
        }
      }

      &.history {
        padding-top: 1.5rem;
      }
    }
  }
}

// UPLOAD

section.file-dropzone {
  display: block;
  position:absolute;
  height:auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 $navbarSize;
  border: none;

  .hint {
    background-position: center 140px;
    padding-top: 260px;
  }

  label.file-picker {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;

    input {
      position: relative;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
}

@media screen and (max-width : 640px) {
  section.file-dropzone {
    bottom: $navbarSize;
    margin: 0;
    .hint {
      background-position: center 80px;
      padding-top: 200px;
      .draghere {
        display: none;
      }
    }
  }
}

@media screen and (min-width : 640px) {
  section.file-dropzone {
    .hint {
      .taptoupload {
        display: none;
      }
    }
  }
}

#preview-image {
  max-width: 500px;
  max-height: 300px;
}

@media screen and (max-width: 640px) {
  #preview-image {
    max-width: 90%;
    max-height: 200px;
  }
}

// RS

#rs-widget-container {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  z-index: 21000000;

  .rs-widget.rs-state-connected {
    margin: 0 !important;
  }
}

@media screen and (max-width: 640px) {
  #rs-widget-container {
    left: auto;
    right: 0;
  }
}

body.connect {
  text-align: center;

  #rs-widget-container {
    text-align: left;
    position: relative;
    margin: 0 auto;
  }
}

// DIALOGS

.vex.vex-theme-flat-attack {
  .vex-content {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    // font-weight: 200;
    width: auto;
    max-width: 600px;

    input[type=text] {
      width: 100%;
      padding: 5px;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
    }
    img.zoomed {
      max-width: 100%;
      max-height: 360px;
    }
    p.actions {
      padding-top: 6px;
    }
  }
  .vex-dialog-button {
    font-size: 18px;
  }
}

@media screen and (max-height: 600px) {
  .vex.vex-theme-flat-attack {
    padding-top: $navbarSize;
    padding-bottom: $navbarSize;
    .vex-content {
      img.zoomed {
        max-height: 300px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .vex.vex-theme-flat-attack {
    .vex-content {
      width: auto;
      max-width: 96%;
    }
  }
}
