@import "bourbon/bourbon";
@import "layout";
@import "buttons";
@import "iconfont";
@import "loading";

:focus { outline:none; }
::-moz-focus-inner { border: 0; }

html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
}

a:active {
  outline: none;
}

nav {
  background-color: #222;
  color: #ccc;

  a {
    color: #eee;
    text-decoration: none;

    &:hover, &.active {
      background: #333;
    }

    &:active {
      background: #555;
    }
  }

  #logo {
    font-size: 30px;
    a {
      color: yellow;
    }
  }

  ul {
    list-style: none;
  }

  li#history a {
    font-size: 24px;
  }
}

main {
  background-color: #eee;
  color: #222;
}

.content.welcome {
  font-size: 1.4rem;
  line-height: 1.4em;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
  p {
    margin-bottom: 1.4rem;
  }
}

@media screen and (max-width : 640px) {
  .content.welcome {
    font-size: 1rem;
    line-height: 1.4rem;
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

section.file-dropzone {
  &:hover {
    background-color: #fff;
  }
  &.drag-active {
    background-color: #fff;
  }

  .hint {
    background-image: url(/assets/images/upload.svg);
    background-repeat: no-repeat;
    color: #bbb;
  }
}

section.file-dropzone.has-file-to-upload {
  display: none;
}

.upload-preview {
  .image, #file-preview {
    margin-bottom: 1rem;
  }
  #file-preview:not(.image) {
    height: 200px;
    padding-top: 90px;
    color: #ccc;
  }
  .meta-data {
    margin-bottom: 2rem;
    span {
      display: block;
      margin: 0 0 0.5rem 0;
      &.size {
        color: #888;
      }
    }
  }

  button.upload, button.cancel {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
  }

  button.upload {
    background: #222;
    color: #eee;
    &:hover, &.active {
      background: #333;
    }
    &:active {
      background: #555;
    }
  }

  button.cancel {
    background: #ccc;
    color: #555;
    &:hover, &.active {
      background: #bbb;
    }
    &:active {
      background: #aaa;
    }
  }
}

@media screen and (max-width : 640px) {
  .upload-preview {
    .meta-data {
      margin-bottom: 1rem;
    }
  }
}

@import "history";
