@import "compass";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

nav {
  position: fixed;
  height: auto;
  width: 4rem;
  top: 0;
  bottom: 0;
  text-align: center;
  ul {
    width: 100%;
    li {
      a {
        display: block;
        text-align: center;
        line-height: 4rem;
      }
    }
  }
}

main {
  width: 100%;
  padding-left: 4rem;
  text-align: center;
  section.content {
    padding: 4rem 4rem 0 0;
    margin: 0 auto;
    &.welcome {
      text-align: left;
      padding: 4rem 4rem 0 0;
      width: 90%;
      max-width: 50rem;
    }
  }
}

@media screen and (max-width : 640px) {
  nav {
    position: fixed;
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    text-align: center;
    ul {
      width: 100%;
      @include clearfix();
      li {
        display: inline;
        float: left;
        a {
          display: block;
          text-align: center;
          width: 4rem;
          line-height: 4rem;
        }
      }
    }
  }

  main {
    width: 100%;
    padding-left: 0;
    section.content {
      padding: 4rem 0 0 0;
      &.welcome {
        padding: 4rem 0 0 0;
        width: 90%;
        max-width: 90%;
      }
    }
  }
}

// UPLOAD

#dropzone {
  display: block;
  position:absolute;
  height:auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 4rem;
  border: none;

  .hint {
    background-position: center 140px;
    padding-top: 260px;
  }

  label.file-picker {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @include opacity(0);

    input {
      position: relative;
      height: 100%;
      width: 100%;
      @include opacity(0);
    }
  }
}

@media screen and (max-width : 640px) {
  #dropzone {
    bottom: 4rem;
    margin: 0;
    .hint {
      background-position: center 80px;
      padding-top: 200px;
      .draghere {
        display: none;
      }
    }
  }
}

@media screen and (min-width : 640px) {
  #dropzone {
    .hint {
      .taptoupload {
        display: none;
      }
    }
  }
}

#preview-image {
  max-width: 500px;
  max-height: 300px;
}

// RS

#remotestorage-connect {
  #remotestorage-widget {
    position: fixed;
    top: 0.5rem;
    right: 0.8rem;
  }
}
