*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

nav {
  position: fixed;
  height: auto;
  width: 4rem;
  top: 0;
  bottom: 0;
  text-align: center;
  ul {
    width: 100%;
    li {
      a {
        display: block;
        text-align: center;
        line-height: 4rem;
      }
    }
  }
}

main {
  width: 100%;
  padding-left: 4rem;
  text-align: center;
  section.content {
    padding: 1rem 2rem;
    margin: 0 auto;
    &.welcome {
      text-align: left;
      padding: 4rem 4rem 0 0;
      width: 90%;
      max-width: 50rem;
    }
  }
}

#remotestorage-connect {
  #remotestorage-widget {
    position: fixed;
    top: 0.5rem;
    right: 0.8rem;
  }
}
