.search {
  padding-bottom: 32px;
  z-index: 2342;
  text-align: -webkit-left;
  text-align:  -moz-left;
}

.search input[type=search] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #fff;
    padding: 6px;
    width: 50%;
}