@import "compass";

html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
}

nav {
  background-color: #222;
  color: #ccc;
  a {
    color: #eee;
    text-decoration: none;
    &:hover, &.active {
      background: #333;
    }
    &:active {
      background: #555;
    }
  }
  #logo {
    font-size: 30px;
    a {
      color: yellow;
    }
  }
  ul {
    list-style: none;
  }
}

main {
  background-color: #eee;
  color: #222;
}

.content img {
  max-width: 500px;
  max-height: 300px;
}

.content.welcome {
  font-size: 1.4rem;
  line-height: 1.4em;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
  p {
    margin-bottom: 1.4rem;
  }
}

.has-file-to-upload #dropzone {
  display: none;
}

.upload-preview {
  .image, #file-preview {
    margin-bottom: 1rem;
  }
  #file-preview:not(.image) {
    height: 200px;
    padding-top: 90px;
    color: #ccc;
  }
  .meta-data {
    margin-bottom: 2rem;
    span {
      display: block;
      margin: 0 0 0.5rem 0;
      &.size {
        color: #888;
      }
    }
  }
}
