@import "compass";

html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #eee;
}

nav {
  background-color: #222;
  color: #ccc;
  a {
    color: #eee;
    text-decoration: none;
    &:hover, &.active {
      background: #333;
    }
    &:active {
      background: #555;
    }
  }
  #logo {
    font-size: 30px;
    a {
      color: yellow;
    }
  }
  ul {
    list-style: none;
  }
}

main {
  background-color: #eee;
  color: #222;
}

.content img {
  max-width: 500px;
  max-height: 300px;
}

.content.welcome {
  font-size: 1.4rem;
  line-height: 1.4em;
  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
  p {
    margin-bottom: 1.4rem;
  }
}

// UPLOAD

#dropzone {
  display: block;
  position:absolute;
  height:auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 4rem;
  background-color: #fff;
  border: none;

  &.active {
    background-color: orange;
  }

  label.file-picker {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @include opacity(0);

    input {
      position: relative;
      height: 100%;
      width: 100%;
      @include opacity(0);
    }
  }
}

.has-file-to-upload #dropzone {
  display: none;
}
