<section class="content welcome">
  <h2>Welcome!</h2>

  <p>
    With <em>Sharesome</em>, you can share files on the Web from your own
    remote storage.
  </p>
  <p>
    Connect your storage using the remoteStorage widget in the upper right
    corner, or <a target="_blank" href="http://remotestorage.io/get">visit the
      remoteStorage website</a> to register for an account or learn how to set
    up your own storage server.
  </p>
</section>

