<nav>
  <ul>
    <li id="logo">{{#link-to "index"}}S{{/link-to}}</li>
    <li id="history">{{#link-to "history"}}H{{/link-to}}</li>
  </ul>
</nav>
<main>
  {{#if Sharesome.rsConnected}}
  {{outlet}}
  {{/if}}

  {{#unless Sharesome.rsConnected}}
    {{#if Sharesome.rsConnecting}}
    Connecting... (should be styled in a nice way)
    {{else}}
      {{partial "welcome"}}
    {{/if}}
  {{/unless}}
</main>
