<nav>
  <ul>
    <li id="upload">
      <LinkTo @route="index" title="Share"><Icon::Upload /></LinkTo>
    </li>
    <li id="history">
      <LinkTo @route="history" title="History"><Icon::History /></LinkTo>
    </li>
  </ul>
</nav>
<main>
  {{outlet}}
</main>
<div id="rs-widget-container"></div>