<nav>
  <ul>
    <li id="upload">
      {{#link-to "index" title="Share"}}
        {{partial "icons/upload"}}
      {{/link-to}}
    </li>
    <li id="history">
      {{#link-to "history" title="History"}}
        {{partial "icons/grid"}}
      {{/link-to}}
    </li>
  </ul>
</nav>
<main>
  {{outlet}}
</main>
<div id="rs-widget-container"></div>
