<nav>
  <ul>
    <li id="upload">
      {{#link-to "index" title="Share"}}{{icon-upload}}{{/link-to}}
    </li>
    <li id="history">
      {{#link-to "history" title="History"}}{{icon-grid}}{{/link-to}}
    </li>
  </ul>
</nav>
<main>
  {{outlet}}
</main>
<div id="rs-widget-container"></div>
