<section class="content history">
  <ul>
    {{#each}}
    <li>
      {{history-item url=url name=name}}
      <div class="overlay">
        <a class="delete" {{action "remove" name}}>X</a>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
