<section class="content history">
  <div class="search">
    <Input @value={{this.queryInput}} placeholder="Search" class="search-field" />
  </div>
  {{#if this.sortedModel}}
    <ul>
      {{#each this.sortedModel as |item|}}
        <HistoryItem @item={{item}}
                     @removeItem={{this.removeItem}} />
      {{/each}}
    </ul>
  {{else}}
    <div class="no-items">
      <p>
        You haven't shared any files yet.
      </p>
    </div>
  {{/if}}
</section>