<section class="content history">
  <div class="search">
    {{input value=queryInput placeholder="Search" class="search-field"}}
  </div>
  <ul>
    {{#each filteredModel as |item|}}
      {{history-item item=item removeItem="removeItem"}}
    {{/each}}
  </ul>
</section>
