<section class="content history">
  {{input value=q placeholder=”Search” }}
  <ul>
    {{#each filteredModel as |item|}}
      {{history-item item=item removeItem="removeItem"}}
    {{/each}}
  </ul>
</section>
